In [1]:
import warnings
warnings.filterwarnings("ignore")

#Bibliotecas de importação de dados
import basedosdados as bd

#Manipulação de dados
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
df_censo_basico = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_basico_2010', billing_project_id="229299106527")

df_domicilio_caracteristicas = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_domicilio_caracteristicas_gerais_2010', billing_project_id="229299106527")

df_cor_raca = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_raca_idade_genero_2010', billing_project_id="229299106527")

df_filhos = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_idade_total_2010', billing_project_id="229299106527")

Downloading: 100%|██████████| 310120/310120 [01:32<00:00, 3365.58rows/s]
Downloading: 100%|██████████| 310120/310120 [08:46<00:00, 589.19rows/s]
Downloading: 100%|██████████| 310120/310120 [09:16<00:00, 556.93rows/s]
Downloading: 100%|██████████| 310120/310120 [05:15<00:00, 983.27rows/s]

In [3]:
estado = ['SP1', 'SP2']

for base in [df_censo_basico, df_domicilio_caracteristicas, df_cor_raca, df_filhos]:
    base = base[base['sigla_uf'].isin(estado)]

In [4]:
df_censo_basico

,id_setor_censitario,sigla_uf,v001,v002,v003,v004,v005,v006,v007,v008,v009,v010,v011,v012
0,120001305000006,AC,129.0,483.0,3.74,3.21,1761.27,1.733162e+08,1877.72,1.846502e+08,709.22,60287872.14,1277.96,1.081390e+08
1,120001305000010,AC,229.0,855.0,3.73,3.18,415.72,3.055207e+05,528.88,3.289682e+05,204.70,160503.54,498.99,2.447109e+05
2,120001305000014,AC,210.0,829.0,3.95,4.64,820.13,1.016400e+06,897.02,1.042855e+06,372.54,530600.16,728.19,7.789214e+05
3,120001305000015,AC,146.0,596.0,4.08,4.03,442.62,2.695755e+05,659.41,2.585456e+05,212.92,141948.39,505.28,1.893740e+05
4,120001305000016,AC,219.0,812.0,3.71,4.87,404.03,1.731169e+05,429.52,1.730901e+05,182.62,106242.49,387.92,1.461728e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310115,355620605000113,SP2,299.0,1083.0,3.62,3.45,1030.88,7.128731e+05,1104.77,6.822248e+05,629.68,479486.54,917.18,4.346496e+05
310116,355640405000064,SP2,45.0,163.0,3.62,2.60,914.44,8.852207e+05,1055.13,8.726467e+05,534.83,729176.21,1005.79,9.001453e+05
310117,355640405000070,SP2,224.0,811.0,3.62,3.07,779.52,2.884587e+05,914.20,2.147860e+05,438.55,233681.81,757.80,1.616878e+05
310118,355645305000027,SP2,244.0,883.0,3.62,2.79,669.79,3.269420e+05,873.95,2.477501e+05,420.79,249017.81,787.54,1.770265e+05
310119,355680005000031,SP2,13.0,47.0,3.62,1.26,1110.77,6.017577e+05,1110.77,6.017577e+05,753.02,509097.79,925.14,4.649669e+05

In [5]:
df_censo_basico = df_censo_basico.rename({'v001':'Domicílios_Setor', 'v003':'Média_Moradores_por_domicilio_setor', 'v005':'Média_Renda_Responsaveis_Setor'}, axis=1)
df_censo_basico = df_censo_basico[['id_setor_censitario', 'Domicílios_Setor', 'Média_Moradores_por_domicilio_setor', 'Média_Renda_Responsaveis_Setor']]

In [6]:
df_censo_basico

,id_setor_censitario,Domicílios_Setor,Média_Moradores_por_domicilio_setor,Média_Renda_Responsaveis_Setor
0,120001305000006,129.0,3.74,1761.27
1,120001305000010,229.0,3.73,415.72
2,120001305000014,210.0,3.95,820.13
3,120001305000015,146.0,4.08,442.62
4,120001305000016,219.0,3.71,404.03
...,...,...,...,...
310115,355620605000113,299.0,3.62,1030.88
310116,355640405000064,45.0,3.62,914.44
310117,355640405000070,224.0,3.62,779.52
310118,355645305000027,244.0,3.62,669.79
310119,355680005000031,13.0,3.62,1110.77

In [7]:
df_domicilio_caracteristicas = df_domicilio_caracteristicas[['id_setor_censitario', 'v001', 'v008', 'v050', 'v051', 'v052', 'v053', 'v054', 'v055', 'v056', 'v057', 'v058']]
df_cor_raca = df_cor_raca[['id_setor_censitario', 'v001', 'v002', 'v003', 'v004', 'v005', 'v006']]
df_filhos = df_filhos[['id_setor_censitario', 'v005', 'v006', 'v007']]

df_domicilio_caracteristicas = df_domicilio_caracteristicas.rename({'v001':'Domicilios no setor censitário', 'v008':'Domicilios alugados', 'v050':'Domicilios unipessoais'}, axis=1)
df_domicilio_caracteristicas['Domicilios 2 ou 3 moradores'] = df_domicilio_caracteristicas['v051']+df_domicilio_caracteristicas['v052']
df_domicilio_caracteristicas['Domicilios 4 ou mais moradores'] = df_domicilio_caracteristicas['v053']+df_domicilio_caracteristicas['v054']+df_domicilio_caracteristicas['v055']+df_domicilio_caracteristicas['v056']
df_domicilio_caracteristicas = df_domicilio_caracteristicas.drop(['v051', 'v052', 'v053', 'v054', 'v055', 'v056', 'v057', 'v058'], axis=1)

df_filhos['Total de filhos dos responsáveis de domicílios'] = df_filhos['v005']+df_filhos['v006']+df_filhos['v007']
df_filhos.drop(['v005', 'v006', 'v007'], axis=1)

       id_setor_censitario  Total de filhos dos responsáveis de domicílios
0          160005505000001                                             709
1          160010505000002                                             733
2          160010505000005                                             625
3          160015405000001                                             595
4          160015405000005                                             705
...                    ...                                             ...
310115     355645305000017                                             400
310116     355700605000053                                             450
310117     355700605000069                                             427
310118     355700605000104                                             604
310119     355710505000021                                             301

[310120 rows x 2 columns]

In [8]:
df_cor_raca = df_cor_raca.rename({'v001': 'Residentes no setor censitário', 'v002': 'Brancos', 'v003': 'Pretos', 'v004': 'Amarelos', 'v005':'Pardos', 'v006':'Índigenas'}, axis=1)
df_domicilio_caracteristicas = df_domicilio_caracteristicas.rename({'v008':'Domicilios Alugados'}, axis=1)

In [11]:
dfs = [df_censo_basico, df_domicilio_caracteristicas, df_cor_raca, df_filhos]

In [12]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['id_setor_censitario'],
                                            how='outer'), dfs)

In [13]:
df_merged.drop(['v005', 'v006', 'v007'], axis=1, inplace=True)

In [14]:
df_merged.to_csv('CENSO_2010_TRABALHADO.csv')

In [2]:
for sheet_name in [2,3,4,5]:
            print(sheet_name)

2
3
4
5