In [63]:
import warnings
warnings.filterwarnings("ignore")

#Bibliotecas de importação de dados
import basedosdados as bd

#Manipulação de dados
import pandas as pd
import numpy as np
from functools import reduce

In [42]:
df_censo_basico = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_basico_2010', billing_project_id="229299106527")

df_domicilio_caracteristicas = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_domicilio_caracteristicas_gerais_2010', billing_project_id="229299106527")

df_cor_raca = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_raca_idade_genero_2010', billing_project_id="229299106527")

df_filhos = bd.read_table(dataset_id='br_ibge_censo_demografico',
table_id='setor_censitario_idade_total_2010', billing_project_id="229299106527")

Downloading: 100%|██████████| 310120/310120 [01:23<00:00, 3719.13rows/s]
Downloading: 100%|██████████| 310120/310120 [08:12<00:00, 629.21rows/s]
Downloading: 100%|██████████| 310120/310120 [08:57<00:00, 576.93rows/s]
Downloading: 100%|██████████| 310120/310120 [05:01<00:00, 1029.71rows/s]

In [43]:
estado = ['SP1', 'SP2']

for base in [df_censo_basico, df_domicilio_caracteristicas, df_cor_raca, df_filhos]:
    base = base[base['sigla_uf'].isin(estado)]

In [44]:
df_censo_basico

,id_setor_censitario,sigla_uf,v001,v002,v003,v004,v005,v006,v007,v008,v009,v010,v011,v012
0,160005505000003,AP,215.0,882.0,4.10,5.04,522.69,279160.44,698.00,250244.78,262.29,200747.03,619.97,252936.95
1,160005505000004,AP,180.0,696.0,3.87,5.66,617.82,375500.12,766.95,351598.12,325.35,250568.73,639.97,291680.70
2,160005510000001,AP,187.0,704.0,3.76,3.48,560.20,404041.72,737.73,401093.32,416.80,390430.50,766.33,450197.44
3,160005510000002,AP,52.0,217.0,4.17,4.66,360.48,135013.90,506.62,115174.96,223.86,147176.23,580.63,175024.14
4,160010505000001,AP,224.0,933.0,4.17,6.73,1459.33,5258090.79,1702.55,5722764.30,751.17,4594477.19,1488.53,8015928.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310115,355620605000113,SP2,299.0,1083.0,3.62,3.45,1030.88,712873.14,1104.77,682224.77,629.68,479486.54,917.18,434649.62
310116,355640405000064,SP2,45.0,163.0,3.62,2.60,914.44,885220.71,1055.13,872646.69,534.83,729176.21,1005.79,900145.35
310117,355640405000070,SP2,224.0,811.0,3.62,3.07,779.52,288458.65,914.20,214786.02,438.55,233681.81,757.80,161687.76
310118,355645305000027,SP2,244.0,883.0,3.62,2.79,669.79,326942.03,873.95,247750.06,420.79,249017.81,787.54,177026.47
310119,355680005000031,SP2,13.0,47.0,3.62,1.26,1110.77,601757.69,1110.77,601757.69,753.02,509097.79,925.14,464966.89

In [45]:
df_censo_basico = df_censo_basico.rename({'v001':'Domicílios_Setor', 'v003':'Média_Moradores_por_domicilio_setor', 'v005':'Média_Renda_Responsaveis_Setor'}, axis=1)
df_censo_basico = df_censo_basico[['id_setor_censitario', 'Domicílios_Setor', 'Média_Moradores_por_domicilio_setor', 'Média_Renda_Responsaveis_Setor']]

In [46]:
df_censo_basico

,id_setor_censitario,Domicílios_Setor,Média_Moradores_por_domicilio_setor,Média_Renda_Responsaveis_Setor
0,160005505000003,215.0,4.10,522.69
1,160005505000004,180.0,3.87,617.82
2,160005510000001,187.0,3.76,560.20
3,160005510000002,52.0,4.17,360.48
4,160010505000001,224.0,4.17,1459.33
...,...,...,...,...
310115,355620605000113,299.0,3.62,1030.88
310116,355640405000064,45.0,3.62,914.44
310117,355640405000070,224.0,3.62,779.52
310118,355645305000027,244.0,3.62,669.79
310119,355680005000031,13.0,3.62,1110.77

In [47]:
df_domicilio_caracteristicas = df_domicilio_caracteristicas[['id_setor_censitario', 'v001', 'v008', 'v050', 'v051', 'v052', 'v053', 'v054', 'v055', 'v056', 'v057', 'v058']]
df_cor_raca = df_cor_raca[['id_setor_censitario', 'v001', 'v002', 'v003', 'v004', 'v005', 'v006']]
df_filhos = df_filhos[['id_setor_censitario', 'v005', 'v006', 'v007']]

df_domicilio_caracteristicas = df_domicilio_caracteristicas.rename({'v001':'Domicilios no setor censitário', 'v008':'Domicilios alugados', 'v050':'Domicilios unipessoais'}, axis=1)
df_domicilio_caracteristicas['Domicilios 2 ou 3 moradores'] = df_domicilio_caracteristicas['v051']+df_domicilio_caracteristicas['v052']
df_domicilio_caracteristicas['Domicilios 4 ou mais moradores'] = df_domicilio_caracteristicas['v053']+df_domicilio_caracteristicas['v054']+df_domicilio_caracteristicas['v055']+df_domicilio_caracteristicas['v056']
df_domicilio_caracteristicas = df_domicilio_caracteristicas.drop(['v051', 'v052', 'v053', 'v054', 'v055', 'v056', 'v057', 'v058'], axis=1)

df_filhos['Total de filhos dos responsáveis de domicílios'] = df_filhos['v005']+df_filhos['v006']+df_filhos['v007']
df_filhos.drop(['v005', 'v006', 'v007'], axis=1)

       id_setor_censitario  Total de filhos dos responsáveis de domicílios
0          160005505000001                                             709
1          160010505000002                                             733
2          160010505000005                                             625
3          160015405000002                                             502
4          160015405000005                                             705
...                    ...                                             ...
310115     355670105000021                                             337
310116     355670105000034                                             470
310117     355700605000015                                             429
310118     355700605000064                                             404
310119     355700605000100                                             383

[310120 rows x 2 columns]

In [52]:
df_cor_raca = df_cor_raca.rename({'v001': 'Residentes no setor censitário', 'v002': 'Brancos', 'v003': 'Pretos', 'v004': 'Amarelos', 'v005':'Pardos', 'v006':'Índigenas'}, axis=1)
df_domicilio_caracteristicas = df_domicilio_caracteristicas.rename({'v008':'Domicilios Alugados'}, axis=1)

In [ ]:
df = df_censo_basico.join([df_domicilio_caracteristicas, df_cor_raca, df_filhos], on='id_setor_censitario', how='left')

In [62]:
dfs = [df_censo_basico, df_domicilio_caracteristicas, df_cor_raca, df_filhos]

In [64]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['id_setor_censitario'],
                                            how='outer'), dfs)

In [67]:
df_merged.drop(['v005', 'v006', 'v007'], axis=1)

,id_setor_censitario,Domicílios_Setor,Média_Moradores_por_domicilio_setor,Média_Renda_Responsaveis_Setor,Domicilios no setor censitário,Domicilios alugados,Domicilios unipessoais,Domicilios 2 ou 3 moradores,Domicilios 4 ou mais moradores,Residentes no setor censitário,Brancos,Pretos,Amarelos,Pardos,Índigenas,Total de filhos dos responsáveis de domicílios
0,160005505000003,215.0,4.10,522.69,220,17,27,68,102,892,206,13,3,670,0,439
1,160005505000004,180.0,3.87,617.82,180,0,31,61,74,696,167,22,5,502,0,310
2,160005510000001,187.0,3.76,560.20,188,14,19,75,87,705,160,25,3,516,1,312
3,160005510000002,52.0,4.17,360.48,52,0,7,12,30,217,32,0,0,185,0,109
4,160010505000001,224.0,4.17,1459.33,229,22,29,80,93,946,180,11,0,755,0,386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310115,355620605000113,299.0,3.62,1030.88,299,58,29,126,137,1083,652,41,1,389,0,442
310116,355640405000064,45.0,3.62,914.44,45,6,2,21,21,163,118,9,1,35,0,63
310117,355640405000070,224.0,3.62,779.52,224,31,12,104,101,811,418,65,1,327,0,306
310118,355645305000027,244.0,3.62,669.79,244,30,19,116,100,883,346,80,12,445,0,398
310119,355680005000031,13.0,3.62,1110.77,13,0,0,6,7,47,42,1,0,4,0,18

In [68]:
df_merged.to_csv('CENSO_2010_TRABALHADO.csv')