# Objetivos : 
## -> Encontrar o perfil das incorporados, empreiteiras e vendedoras que fizeram mais sucesso.
## -> Criar um modelo de precificação para os empreendimentos e um modelo de precificação para os apartamentos

In [15]:
import pandas as pd
import seaborn as sns

In [16]:
#função para criar um df com a relação de empreendimentos por classe.
def cria_df(dataframe,column) :
    classes=df.groupby(column)[[column]].count()

    freq = classes[column].values
    classes= classes[column].index
    dic = {column:classes,'freq':freq}
    return dic

In [17]:
df = pd.read_csv('LANRES_85_13_RMSP_CEM.csv',delimiter=";",low_memory=False)
df['PC_EMP_ATU'] = df['PC_EMP_ATU'].apply(lambda field: float(field.replace(",", ".")))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16935 entries, 0 to 16934
Data columns (total 85 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          16935 non-null  int64
 1   COD_EMP     16935 non-null  int64
 2   TIPO_EMP    16935 non-null  object
 3   MES_LAN     16935 non-null  object
 4   ANO_LAN     16935 non-null  int64
 5   DATA_ENT    16935 non-null  object
 6   DIST        13234 non-null  object
 7   SUBPREF     13234 non-null  object
 8   MUNICIPIO   16935 non-null  object
 9   ENDERECOCO  16935 non-null  object
 10  LOGRADOURO  16935 non-null  object
 11  TIT_VIA     4310 non-null   object
 12  TIPO_VIA    16929 non-null  object
 13  NUM         16935 non-null  object
 14  CEP         16913 non-null  object
 15  CEP_4DIG    16935 non-null  int64
 16  NOME_EMP    16935 non-null  object
 17  ZONA        16935 non-null  object
 18  SETOR       16928 non-null  object
 19  QUADRA      16934 non-null  object
 20  LOTE        14406 non-null  object
 21  DORM_UNID   16935 non-null  int64
 22  BANH_UNID   16935 non-null  int64
 23  GAR_UNID    16935 non-null  int64
 24  ELEV        16935 non-null  int64
 25  COB         16935 non-null  int64
 26  BLOCOS      16935 non-null  int64
 27  UNIDAND     16935 non-null  int64
 28  ANDARES     16935 non-null  int64
 29  AR_UT_UNID  16935 non-null  object
 30  AR_TT_UNID  16935 non-null  object
 31  AR_TT_TERR  16935 non-null  int64
 32  TT_UNID     16935 non-null  int64
 33  DORM_EMP    16935 non-null  int64
 34  BANH_EMP    16935 non-null  int64
 35  GAR_EMP     16935 non-null  int64
 36  AU_EMP      16935 non-null  object
 37  AT_EMP      16935 non-null  object
 38  PC_TT_UN    16935 non-null  int64
 39  PC_M2_AU    16935 non-null  object
 40  PC_M2_AT    16935 non-null  object
 41  PC_TT_ATU   16935 non-null  object
 42  PC_AU_ATU   16935 non-null  object
 43  PC_AT_ATU   16935 non-null  object
 44  PC_EMP_ATU  16935 non-null  float64
 45  VLR_US__CO  16935 non-null  int64
 46  PC_TT_UN_U  16935 non-null  object
 47  PC_M2_AU_U  16935 non-null  object
 48  PC_M2_AT_U  16935 non-null  object
 49  SIST_FINAN  16935 non-null  object
 50  AGENTE      8877 non-null   object
 51  INCORPORAD  16935 non-null  object
 52  VENDEDORA   16935 non-null  object
 53  CONSTRUTOR  16935 non-null  object
 54  ENGENHEIRO  16605 non-null  object
 55  ARQUITETO   15461 non-null  object
 56  HOTELARIA   316 non-null    object
 57  INCORPOR_A  16935 non-null  object
 58  INCORPOR_B  206 non-null    object
 59  INCORPOR_C  42 non-null     object
 60  INCOPORADO  11 non-null     object
 61  INCORPOR_D  4 non-null      object
 62  INCORPOR_E  1 non-null      object
 63  VENDEDOR_A  16935 non-null  object
 64  VENDEDORA2  2023 non-null   object
 65  VENDEDORA3  385 non-null    object
 66  VENDEDORA4  65 non-null     object
 67  VENDEDORA5  2 non-null      object
 68  VENDEDORA6  1 non-null      object
 69  CONSTRUT_A  16935 non-null  object
 70  CONSTRUT_B  343 non-null    object
 71  CONSTRUT_C  50 non-null     object
 72  CONSTRUT_D  2 non-null      object
 73  COOPERATIV  16935 non-null  int64
 74  HOTEL       16935 non-null  int64
 75  FLAT        16935 non-null  int64
 76  EXFLAT      16935 non-null  int64
 77  AP2010      16935 non-null  int64
 78  SC_2010     16935 non-null  int64
 79  RENRESP91   16913 non-null  object
 80  RENRESP00   16935 non-null  object
 81  RENRESP10   16935 non-null  object
 82  PCMEDAU91   2685 non-null   object
 83  PCMEDAU00   3579 non-null   object
 84  PCMEDAU10   4761 non-null   object
dtypes: float64(1), int64(25), object(59)
memory usage: 11.0+ MB

In [19]:
df_emp_cid = pd.DataFrame(cria_df(df,'MUNICIPIO'))
df_emp_cid.sort_values(by='freq',ascending=False)

           MUNICIPIO   freq
25         SAO PAULO  13248
23   SAO BERNARDO DO    691
22       SANTO ANDRE    539
11         GUARULHOS    490
24  SAO CAETANO DO S    413
1            BARUERI    276
19            OSASCO    239
5              COTIA    226
18   MOGI DAS CRUZES    145
17              MAUA    107
6            DIADEMA    105
27   TABOAO DA SERRA     90
26            SUZANO     60
4        CARAPICUIBA     52
21  SANTANA DE PARNA     49
3            CAJAMAR     39
20               POA     33
14   ITAQUAQUECETUBA     31
8   FERRAZ DE VASCON     28
15           JANDIRA     25
7               EMBU     13
0              ARUJA     11
28  VARGEM GRANDE PA      8
13           ITAPEVI      7
12  ITAPECERICA DA S      4
10         GUARAREMA      2
9    FRANCO DA ROCHA      2
16         MAIRIPORA      1
2           CAIEIRAS      1

In [20]:
# Lista decrescente das incorporadoras
df_emp_icorp = pd.DataFrame(cria_df(df,'INCORPORAD')).sort_values(by='freq',ascending=False)
df_emp_icorp.head(23)

                                    INCORPORAD  freq
3097                             Nao Informada   456
1969                                Gafisa S/A   294
2825        MRV Engenharia e Participacoes S/A   180
1678       Encol S/A Eng¬ Comercio e Industria   138
3691                     Rossi Residencial S/A   116
1195                     Construtora Tenda S/A   116
537               Brookfield Incorporacoes S/A   105
2055      Goldfarb Comercio e Construcoes Ltda    98
3383         Plano Melhor Empreendimentos Ltda    92
1786      Even Construtora e Incorporadora S/A    80
3380      Plano & Plano Constr e Particip Ltda    77
4169        Tecnisa Engenharia e Comercio Ltda    73
4172                               Tecnisa S/A    73
2329  Inpar Incorporacoes e Participacoes Ltda    73
2748      M Bigucci Com e Empreend Imobil Ltda    71
1390                  Cyrela Brazil Realty S/A    71
4314                                Trisul S/A    62
3225                                PDG Realty    61
2923  Marques Construtora e Incorporadora Ltda    60
1408         Cyrela Empreend Imobiliarios Ltda    59
623    Camargo Correa Desenvolvimento Imob S/A    56
1225       Construtora e Incorp AtlÔntica Ltda    55
1192                   Construtora Tarjab Ltda    54

In [21]:
# Lista decrescente das vendedoras.
df_emp_vend = pd.DataFrame(cria_df(df,'VENDEDORA')).sort_values(by='freq',ascending=False)
df_emp_vend.head(23)

                                     VENDEDORA  freq
1383   Lps Brasil - Consultoria de Imoveis S/A  1290
1218                      Itaplan Imoveis Ltda   898
1376         Lopes Consultoria de Imoveis Ltda   880
913       Fernandez Mera Neg Imobiliarios Ltda   616
438     Coelho da Fonseca Empreend Imobil Ltda   580
110       Abyara Planejamento Imobiliario Ltda   540
1909         Roque & Seabra Empreend Imob Ltda   381
1081     Habitcasa Consultoria de Imoveis Ltda   304
2145  Triumpho & Assoc Consult de Imoveis Ltda   271
867       Exclusiva Mediadora Imobiliaria Ltda   225
1611     Nossacasa Consultoria de Imoveis Ltda   216
1181         Imowel Negocios Imobiliarios Ltda   203
228      Avance Negocios Imobiliarios S/S Ltda   189
1298           Julio Bogoricin Imoveis SP Ltda   174
121                          Acao Imoveis Ltda   168
45                              Abyara Brokers   161
581                      Construtora Tenda S/A   109
977    GTV - Grupo Tecnico de Vendas Imob Ltda   100
695   Delforte & IPrice - Grupo Brasil Brokers    97
79      Abyara Brokers/Fernandez Mera Neg Imob    95
1975        Seabra Consultoria de Imoveis Ltda    88
182           Aparecido Viana Imoveis S/C Ltda    88
437       Coelho da Fonseca Empreend Imob Ltda    85

In [22]:
# Lista decrescente das construtoras.
df_emp_constr = pd.DataFrame(cria_df(df,'CONSTRUTOR')).sort_values(by='freq',ascending=False)
df_emp_constr.head(23)

                                    CONSTRUTOR  freq
2157                             Nao Informada   773
1404                                Gafisa S/A   355
2156                              Nao Definida   188
1956        MRV Engenharia e Participacoes S/A   180
2834   Tiberio Construcoes e Incorporacoes S/A   142
1204       Encol S/A Eng¬ Comercio e Industria   138
468                                Company S/A   127
2541                     Rossi Residencial S/A   126
900                      Construtora Tenda S/A   123
1452      Goldfarb Comercio e Construcoes Ltda   119
290               Brookfield Incorporacoes S/A   118
1273      Even Construtora e Incorporadora S/A   117
1088      Dialogo Engenharia e Construcao Ltda   116
1009                  Cyrela Brazil Realty S/A   111
2344      Plano & Plano Constr e Particip Ltda   104
2878                                Trisul S/A    98
2793        Tecnisa Engenharia e Comercio Ltda    94
518                     Consorcio CGN-Goldfarb    93
1622  Inpar Incorporacoes e Participacoes Ltda    88
1289       Ez Tec Engenharia e Construcoes S/A    82
2796                               Tecnisa S/A    78
1903      M Bigucci Com e Empreend Imobil Ltda    73
2643        Sergus Construcoes e Comercio Ltda    71